<h1>Pets</h1>
<ul>
<% @pets.each do |pet| %>
 <li>
  <strong><%= link_to pet.name, pet %></strong>
  <p> <%= image_for (pet) %></p>
  	<p> Breed: <%= pet.breed %></p>
  		<p>Description:<%= pet.description %></p>
  		<p>Birthday:<%= pet.birthday.strftime("%B %d %Y") %></p>
  	
  	
  </li>
<% end %>
</ul>