<!DOCTYPE html>
<html>
<head>
  <title>PetPal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="jumbotron">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<%= render "layouts/sidebar" %>
<div class="nav pull-right;">
    <%= yield %>
    
    <h2> About Us</h2>
    We connect pets and people.
  </div>
</div>
</body>

</html>
